In [10]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """SELECT DISTINCT(f.name) as FacilityName, sum(CASE 
            WHEN b.memid >0 THEN f.membercost * b.slots
            WHEN b.memid =0 THEN f.guestcost * b.slots
            END) AS TotalRevenue
            FROM `Facilities` AS f
            LEFT JOIN Bookings AS b ON f.facid = b.facid
GROUP BY f.name
HAVING TotalRevenue < 1000
ORDER BY TotalRevenue""" 

    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [ ]:
#Q10 Query
"""SELECT DISTINCT(f.name) as FacilityName, sum(CASE 
            WHEN b.memid >0 THEN f.membercost * b.slots
            WHEN b.memid =0 THEN f.guestcost * b.slots
            END) AS TotalRevenue
            FROM `Facilities` AS f
            LEFT JOIN Bookings AS b ON f.facid = b.facid
GROUP BY f.name
HAVING TotalRevenue < 1000
ORDER BY TotalRevenue"""

In [ ]:
#Q11 Query
"""SELECT concat_ws(' ', m1.surname, m1.firstname) AS MemberName, 
concat_ws(' ', m2.surname, m2.firstname) AS Recommended_By from Members AS m1 
LEFT JOIN Members AS m2 ON m1.recommendedby = m2.memid WHERE m1.recommendedby >=1 
ORDER BY m1.surname, m1.firstname"""

In [ ]:
#Q12 Query
"""SELECT f.name AS FacilityName, concat_ws(' ',m.surname, m.firstname) AS Member,
sec_to_time(sum(b.slots)*1800) AS TimeUsed FROM Bookings AS b 
LEFT JOIN Facilities AS f ON b.facid = f.facid 
LEFT JOIN Members AS m ON b.memid = m.memid 
WHERE b.memid >= 1 GROUP BY b.memid, b.facid 
ORDER BY m.surname"""

In [ ]:
#Q13 Query
"""SELECT f.name AS FacilityName, 
concat_ws(' ', m.surname,m.firstname) AS MemberName,
SUBSTR(b.starttime,6,2) AS Month, 
sec_to_time(sum(slots)*1800) AS TimeUsed 
FROM Bookings AS b 
LEFT JOIN Facilities AS f ON b.facid = f.facid
LEFT JOIN Members AS m ON b.memid = m.memid
WHERE b.memid >=1
GROUP BY f.name, MemberName, b.starttime,b.slots
ORDER BY Month"""